<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sound &amp; Motion</title>
        <!-- Bootstrap -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/bootstrap-responsive.css" rel="stylesheet">
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-35851475-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
        <meta property="og:title" content="Sound and Motion" />
        <meta property="og:description" content="Sound and Motion: English-language movies in Milano" />
        <meta property="og:type" content="website" />
        <meta property="fb:app_id" content="431973163525636" />
    </head>
    <body>
      <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.it/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Cinematografo+Arcobaleno,+Viale+Tunisia,+Milan,+Province+of+Milan&amp;aq=0&amp;oq=Cinema+arco&amp;sll=45.466572,9.195256&amp;sspn=0.017577,0.038581&amp;ie=UTF8&amp;hq=Cinematografo+Arcobaleno,&amp;hnear=Viale+Tunisia,+Milano,+Lombardia&amp;t=m&amp;ll=45.477096,9.205678&amp;spn=0.006295,0.006602&amp;output=embed"></iframe><br /><small><a href="https://maps.google.it/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Cinematografo+Arcobaleno,+Viale+Tunisia,+Milan,+Province+of+Milan&amp;aq=0&amp;oq=Cinema+arco&amp;sll=45.466572,9.195256&amp;sspn=0.017577,0.038581&amp;ie=UTF8&amp;hq=Cinematografo+Arcobaleno,&amp;hnear=Viale+Tunisia,+Milano,+Lombardia&amp;t=m&amp;ll=45.477096,9.205678&amp;spn=0.006295,0.006602" style="color:#0000FF;text-align:left">View Larger Map</a></small>
    </body>
</html>