<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sound &amp; Motion</title>
  <!-- Bootstrap -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/bootstrap-responsive.css" rel="stylesheet">
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35851475-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  </script>
  <meta property="og:title" content="Sound and Motion" />
  <meta property="og:description" content="Sound and Motion: English-language movies in Milano" />
  <meta property="og:type" content="website" />
  <meta property="fb:app_id" content="431973163525636" />
</head>
<body>
  <form method="post" action="/entry" method="POST">
    title: <input type="text" name="title"><br/>
    imdb: <input type="text" name="imdb"><br/>
    description: <textarea rows="3" name="description"></textarea><br/>
    screening #1: <input type="text" name="screening" placeholder="2013-01-24T15:00"><br/>
    screening #2: <input type="text" name="screening"><br/>
    screening #3: <input type="text" name="screening"><br/>
    <input type="submit">
</form>
</body>
</html>