<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Sound Motion *BETA</title>
		<!-- Bootstrap -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/bootstrap-responsive.css" rel="stylesheet">
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-35851475-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>        
	</head>
	<body>
		<div class="container-fluid">
            <div class="page-header">
    			<h1>Sound Motion *BETA</h1>
                <p>Human-friendly version of <a href="http://spaziocinema.info/eventi-rassegne">this</a>.</p>
            </div>
            {{#movies}}
			<div class="row-fluid past">
				<div class="span12 well">
                    <span class="{{class}}">{{week}}</span>
					<h2>{{title}}</h2>
					{{#screenings}}
                    <div class="span3">
                        <p class="text-info">{{venue}} - {{#the_date}}{{dates.0}}{{/the_date}}</p>
                        <p class="times">
						{{#dates}}
							{{#the_time}}{{.}}{{/the_time}}
						{{/dates}}
                        </p>
                    </div>
					{{/screenings}}
    				<div class="span12"><p>{{description}}</p></div>
				</div>
			</div>
            {{/movies}}
			<br/><br/>
			<div class="row-fluid footer">
				<div class="span12">
					<p>Sound &amp; Motion is brought to you by <a href="https://github.com/mfirry">mfirry</a> and <a href="https://github.com/dhinus">dhinus</a>.
                        Source code and issues on <a href="https://github.com/mfirry/sound-motion">github.</p>
				</div>
			</div>			
		</div>
	</body>
</html>