<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sound &amp; Motion</title>
        <!-- Bootstrap -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/bootstrap-responsive.css" rel="stylesheet">
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-35851475-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
        <meta property="og:title" content="Sound and Motion" />
        <meta property="og:description" content="Sound and Motion: English-language movies in Milano" />
        <meta property="og:type" content="website" />
        <meta property="fb:app_id" content="431973163525636" />
    </head>
    <body>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=431973163525636";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        <div class="container-fluid">
            <div class="page-header">
                <h1>Sound &amp; Motion</h1>
                <p>English language movies in Milano &dash; A human-friendly version of <a href="http://www.spaziocinema.info/eventi-rassegne/soundmotion-pictures-2012-milano-versione-originale">this</a>.</p>

                <div style="vertical-align: top" class="fb-like" data-href="http://www.facebook.com/soundandmotionmilano" data-send="false" data-layout="button_count" data-width="120" data-show-faces="false"></div>
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://soundmotion.it" data-text="English language movies in Milano">Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

            </div>
            {{#movies}}
            <div class="row-fluid">
                <div class="span12 well">
	    	    <!-- <a class="pull-left"><img class="media-object" src="{{omdb.Poster}}" alt="poster"></a> -->
                    <span class="{{class}}">{{week}}</span>

                    <div class="media-body">
                        <h4 class="media-heading">{{title}}</h4>
                        
                        {{#screenings}}
                        <div class="span3">
                            <p class="text-info">{{venue}} - {{#the_date}}{{dates.0}}{{/the_date}}</p>
                            <p class="times">
                            {{#dates}}
                                {{#the_time}}{{.}}{{/the_time}}
                            {{/dates}}
                            </p>
                        </div>
                        {{/screenings}}
                    </div>
                    <div class="span6"><p>{{description}}</p></div>
                </div>
            </div>
            {{/movies}}
            <p>
              <a class="btn" style="display:{{show_all}}" href="/all">Show all movies</a>
            </p>
            <div class="row-fluid footer">
                <div class="span12" style="margin-top: 20px">
                    <p>Sound &amp; Motion is brought to you by <a href="https://github.com/smallcapitals">smallcapitals</a>.
                        Source code and issues on <a href="https://github.com/smallcapitals/sound-motion">github</a>.</p>
                </div>
            </div>            
        </div>
    </body>
</html>
