<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sound &amp; Motion</title>
        <!-- Bootstrap -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/bootstrap-responsive.css" rel="stylesheet">
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-35851475-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
        <meta property="og:title" content="Sound and Motion" />
        <meta property="og:description" content="Sound and Motion: English-language movies in Milano" />
        <meta property="og:type" content="website" />
        <meta property="fb:app_id" content="431973163525636" />
    </head>
    <body>
      <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.it/maps?f=q&amp;source=s_q&amp;hl=en&amp;q=Cinema+Mexico,+Via+Savona,+57,+20144+Milano,+Lombardia&amp;aq=&amp;sll=45.453117,9.160645&amp;sspn=0.008791,0.01929&amp;ie=UTF8&amp;geocode=FT2OtQIdrMWLAA&amp;split=0&amp;hq=&amp;hnear=Cinema+Mexico,+Via+Savona,+57,+20144+Milano,+Lombardia&amp;t=m&amp;z=14&amp;ll=45.452861,9.160108&amp;output=embed"></iframe><br /><small><a href="https://maps.google.it/maps?f=q&amp;source=embed&amp;hl=en&amp;q=Cinema+Mexico,+Via+Savona,+57,+20144+Milano,+Lombardia&amp;aq=&amp;sll=45.453117,9.160645&amp;sspn=0.008791,0.01929&amp;ie=UTF8&amp;geocode=FT2OtQIdrMWLAA&amp;split=0&amp;hq=&amp;hnear=Cinema+Mexico,+Via+Savona,+57,+20144+Milano,+Lombardia&amp;t=m&amp;z=14&amp;ll=45.452861,9.160108" style="color:#0000FF;text-align:left">View Larger Map</a></small>
    </body>
</html>